<div class="page-header">
  <h1>Address Book</h1>
  <button class="btn btn-default"><%= link_to "New Contact", new_contact_path, remote: true %></button>
</div>
<div class="container">

  <div class="contacts">
    <% @contacts.each do |contact| %>
      <h2><%= link_to "#{contact.first_name} #{contact.last_name}", contact_path(contact) %></h2>
    <% end %>

  </div>

  <div class="new-contact"></div>
  <div id="contact-modal" class="modal fade"></div>


</div>
